/Carthage
/Cartfile.resolved
/Trestle.xcodeproj/project.xcworkspace/xcuserdata/Jordan.xcuserdatad/UserInterfaceState.xcuserstate
/.DS_Store
/Designables/.DS_Store
/Trestle.xcodeproj/project.xcworkspace/xcuserdata/jkay010.xcuserdatad/UserInterfaceState.xcuserstate
